.card {
    margin: auto 2rem;
}

.details-container {
    margin: auto;
    padding: 1rem;
}

.generator-io {
    margin: 1rem;
}

form {
    margin: 0 auto;
    padding: 2rem;
}

textarea, input {
    width: 70%;
    margin: auto;
}