<div class="markovs">
  <div class="details-container row">
    <div *ngFor='let detail of details | async' class="card" style="width: 18rem;">
      <div class="card-header">{{detail.title}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Sources: {{detail.sourceNames.join(', ')}}</li>
        <li class="list-group-item">Source Words: {{detail.wordCount}}</li>
        <li class="list-group-item">Source Sentences: {{detail.sentenceCount}}</li>
        <li class="list-group-item">Generated Sentences: {{detail.generatedSentences}}</li>
      </ul>
      <button class="btn btn-primary">Activate</button>
    </div>
    <div class="card" style="width: 8rem;">
      <div class="card-body" style="font-size: 4rem; color: dodgerblue;">
        <!--Add logic here for creating a new generator-->
        <i class="fa fa-plus-circle"></i>
      </div>
    </div>
  </div>
  <div class="generator-io row" *ngIf='currentGenerator'>
    <div class="col-md-6">
      <div class="form-group">
        <label for="title-input">Title of Input:</label>
        <input type="text" [(ngModel)]="inputName" class="form-control" id="title-input" placeholder="Enter a title...">
      </div>
      <div class="form-group input-container">
        <label for="input-text">Input:</label>
        <textarea [(ngModel)]="inputText" class="form-control" id="input-text"></textarea>
        <button class="add-text-btn" (click)="onAddText()">Add Source Material</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group output-container">
        <label for="output-text">Output:</label>
        <textarea class="form-control" id="output-text">{{outputText}}</textarea>
        <button class="generate-btn" (click)="onGenerate()">Generate Sentence</button>
      </div>
    </div>
  </div>
</div>
